<%- include("partials/header.ejs") %>

<body >
    <div class="about">
    <h2>About This Blog</h2>
    <p>Welcome to The Recipe Blog! This platform is dedicated to sharing healthy and delicious recipes from around the world. Whether you're a seasoned chef or just starting out in the kitchen, you'll find a variety of recipes to suit your taste and dietary needs.</p>
    <p>Our mission is to promote healthy eating habits by providing easy-to-follow recipes that use wholesome ingredients. We believe that cooking at home can be both fun and rewarding, and we're here to inspire you on your culinary journey.</p>
    <p>Feel free to explore our collection of recipes, contribute your own, and connect with fellow food enthusiasts. Happy cooking!</p>
    </div>
</body>
</html>